@page 
@model WebApiBook.Pages.BookModel
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    @foreach (var item in Model.Books)
    {
        <a href="SelectedBook/@item.Id">@item.Title</a>        
        <br />
    }
</div>

