@page "{id}"

@model WebApiBook.Pages.SelectedBookModel
@{
    ViewData["Title"] = Model.Title;
}

<form method="post">
<div class="text-center" id="bookdiv">
    <ol class="rounded">
    <p>Назва: <input asp-for="Title"></p>
    <p>Автор: <input asp-for="Author" ></p>
    <p>Стиль: <input asp-for="Style"></p>
    <p>Видавництво:  <input asp-for="Publisher"></p>
    <p>Рік публікації: <input asp-for = "PublishYear"></p>
    
    <input type="submit" name="submit" class="submit" value="Save">
    <input type = "submit" asp-page-handler="Delete" value= "Delete Book"/>
    </ol>
</div>
</form>
